@media (max-width: 1000px) {
    body {
        width: 100%;
        left: 0;
        box-shadow: none;
        left: 0;
        transform: none;
    }
}

@media only screen and (max-width: 700px) {
    body {
        width: 100%;
        left: 0;
        box-shadow: none;
        left: 0;
        transform: none;
    }

    .bgVideo {
        position: absolute;
        width: auto;
        height: 80%;
    }

    #bio {
        top: 10vh;
        left: 5vw;
        width: 90vw;
    }
    #bio h1{
        font-size: 40px;
    }
    #bio p {
        font-size: 20px;
    }

    #contact {
        position: absolute;
        width: 80vw;
        right: 10vw;
        top: auto;
        bottom: 40vh;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    /* #contact {
        position: relative;
        right: auto;
        float: right;
        top: 15vh;
        margin-right: 10vw;
        display: flex;
        justify-content: space-evenly;
    } */
    #contact > a {
        width: 15vw;
        height: 15vw;
        flex: 0 0 15vw;
        padding: 10px;
        box-shadow: none;
        background-color: rgba(128, 128, 128, 0.2);
    }
    #contact > a > img {
        opacity: 0.8;
    }

    #arrow {
        bottom: 5vh;
        width: 40vw;
    }
    #arrow .arrow > .left {
        transform: translateX(8%) rotate(30deg);
    }
    #arrow .arrow > .right {
        transform: translateX(92%) rotate(-30deg);
    }

    #projects {
        width: 100%;
    }
    #projects h1 {
        font-size: 30px;
        color: white;
    }
    #showcase {
        justify-content: space-around;
    }
    #showcase > .item {
        height: 30vh;
        flex: 0 0 90%;
        box-shadow: inset 0 0 10px 2px var(--black-color);
        background-color: rgb(38, 38, 43, 0.5);
    }
    #showcase > .item > .slide > div {
        width: 27vh;
        height: 27vh;
        margin-bottom: 3vh;
    }
    #showcase > .item > .slide > div > h2 {
        top: 13.5vh;
        font-size: 24px;
        color: white;
    }
    #showcase > .item > .slide > p {
        font-size: 14px;
        color: white;
    }

    /* #main > .bgVideo {
        height: 50%;
    } */
    #main > h1 {
        font-size: 60px;
    }

    #main > footer {
        font-size: 12px;
    }
}